### node etc ###

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# DS_Store
.DS_Store

# Project Deliverables
project-requirements

# Dependency directorys
node_modules
bower_components

# Floobits
.floo
.floobit
.floo
.flooignorenode_modules
