text-white = #ffffff;
bg-dark-purple = #5b1bb5;
bg-white = #ffffff;

body {
  /*color: text-white;*/
}

/* NAVBAR //////////////////////////////////////////////////////// */
.navbar {
  margin-bottom: 0;
  border: none;
}
.navbar-default {
  background: bg-dark-purple;
}

.navbar-default .navbar-brand {
  color: text-white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: bg-dark-purple;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: bg-white;
}

.navbar-toggle {
  border: none;
  border-radius: none;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: none; 
}

.navbar-default .navbar-nav>li>a {
  color: text-white;
}

/* JUMBOTRON ///////////////////////////////////////////////////// */
.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  background-image: url(../assets/office.jpeg);
  background-size: cover;
  background-position: center;
}

.jumbotron .container {
  text-align: center;
  color: text-white;
  background-color: rgba(87, 27, 179, 0.6);
}

.jumbotron .btn-primary {
  background-color: bg-dark-purple;
  border-color: bg-dark-purple;
}







